<div class="well">
  <form id="<%- idPrefix %>-form" class="filter-form">
    <% if (!user.data.partner) { %>
    <div class="form-group">
      <label for="<%- idPrefix %>-partner"><%- t('registry', 'PROPERTY:partner') %></label>
      <input id="<%- idPrefix %>-partner" name="partner" type="text">
    </div><% } %><div class="form-group">
      <label for="<%- idPrefix %>-from" title="<%- t('core', 'filter:date:from:inclusive') %>"><i class="fa fa-info-circle"></i> <%- t('registry', 'FILTER:date:from') %></label>
      <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date">
    </div><div class="form-group">
      <label for="<%- idPrefix %>-to" title="<%- t('core', 'filter:date:to:exclusive') %>"><i class="fa fa-info-circle"></i> <%- t('registry', 'FILTER:date:to') %></label>
      <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date">
    </div><div class="form-group">
      <label for="<%- idPrefix %>-limit"><%- t('registry', 'FILTER:limit') %></label>
      <input id="<%- idPrefix %>-limit" class="form-control" name="limit" type="number" value="25" min="5" max="100" step="1">
    </div><div class="form-group filter-actions">
      <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('registry', 'FILTER:submit') %></span></button>
    </div>
  </form>
</div>
