<form class="partners-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label"><%- t('partners', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" autofocus required maxlength="200">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-clientNo" class="control-label"><%- t('partners', 'PROPERTY:clientNo') %></label>
        <input id="<%- idPrefix %>-clientNo" class="form-control" type="text" name="clientNo" maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-address" class="control-label"><%- t('partners', 'PROPERTY:address') %></label>
        <textarea id="<%- idPrefix %>-address" class="form-control" name="address" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-supplierColor" class="control-label"><%- t('partners', 'PROPERTY:supplierColor') %></label>
        <div id="<%- idPrefix %>-supplierColorPicker" class="input-group colorpicker-component" data-color="<%- model.supplierColor %>" data-color-format="hex">
          <input id="<%- idPrefix %>-supplierColor" class="form-control" name="supplierColor" type="text" value="<%- model.supplierColor %>">
          <span class="input-group-addon"><i style="background-color: <%- model.supplierColor %>"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-receiverColor" class="control-label"><%- t('partners', 'PROPERTY:receiverColor') %></label>
        <div id="<%- idPrefix %>-receiverColorPicker" class="input-group colorpicker-component" data-color="<%- model.receiverColor %>" data-color-format="hex">
          <input id="<%- idPrefix %>-receiverColor" class="form-control" name="receiverColor" type="text" value="<%- model.receiverColor %>">
          <span class="input-group-addon"><i style="background-color: <%- model.receiverColor %>"></i></span>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="autoGdn" value="1">
            <%- t('partners', 'form:autoGdn:label') %>
          </label>
        </div>
        <input id="<%- idPrefix %>-autoGdnPartners" name="autoGdnPartners">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="autoGrn1" value="1">
            <%- t('partners', 'form:autoGrn1:label') %>
          </label>
        </div>
        <input id="<%- idPrefix %>-autoGrn1Partners" name="autoGrn1Partners">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="autoGrn2" value="1">
            <%- t('partners', 'form:autoGrn2:label1') %>
          </label>
        </div>
        <input id="<%- idPrefix %>-autoGrn2Partner" name="autoGrn2Partner">
        <label for="<%- idPrefix %>-autoGrn2Partners"><%- t('partners', 'form:autoGrn2:label2') %></label>
        <input id="<%- idPrefix %>-autoGrn2Partners" name="autoGrn2Partners">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
