<div class="list partnerBalanceList">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <% if (!rows.length) { %>
      <tbody>
        <tr>
          <td><%- t('core', 'LIST:NO_DATA') %></td>
        </tr>
      </tbody>
      <% } else { %>
      <% rows.forEach(function(row) { %>
      <tbody class="partnerBalanceList-daily">
        <tr class="partnerBalanceList-header">
          <th class="is-min"><%- time.format(row.date, 'YYYY-MM-DD') %></th>
          <th class="is-min"><%- t('reports', 'PROPERTY:partner') %></th>
          <%- palletKindColumns %>
          <th></th>
        </tr>
        <% row.partners.forEach(function(partner) { %>
        <tr class="partnerBalanceList-partner">
          <td></td>
          <td><%= partnersMap[partner.id] || partner.id %></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-count <%- partner.grn[palletKind.id] > 0 ? 'is-positive' : '' %>">+<%- partner.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-count <%- partner.gdn[palletKind.id] > 0 ? 'is-negative' : '' %>">-<%- partner.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td></td>
        </tr>
        <% }) %>
        <% if (row.partners.length > 1) { %>
        <tr class="partnerBalanceList-total">
          <td></td>
          <td><em><%- t('reports', 'PROPERTY:total') %></em></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-count <%- row.totals.grn[palletKind.id] > 0 ? 'is-positive' : '' %>">+<%- row.totals.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-count <%- row.totals.gdn[palletKind.id] > 0 ? 'is-negative' : '' %>">-<%- row.totals.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td></td>
        </tr>
        <% } %>
        <tr class="partnerBalanceList-balance">
          <td></td>
          <td><em><%- t('reports', 'PROPERTY:balance') %></em></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number <%- row.balance[palletKind.id] > 0 ? 'is-positive' : row.balance[palletKind.id] < 0 ? 'is-negative' : '' %>"><%- row.balance[palletKind.id] || 0 %></td>
          <% }) %>
          <td></td>
        </tr>
      </tbody>
      <% }) %>
      <tbody id="<%- idPrefix %>-summary">
        <tr>
          <th class="is-min"><em><%- t('reports', 'PROPERTY:total') %></em></th>
          <th class="is-min"><%- t('reports', 'PROPERTY:partner') %></th>
          <%- palletKindColumns %>
          <th></th>
        </tr>
        <% summary.partners.forEach(function(partner) { %>
        <tr class="partnerBalanceList-partner">
          <td></td>
          <td><%= partnersMap[partner.id] || partner.id %></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-count <%- partner.grn[palletKind.id] > 0 ? 'is-positive' : '' %>">+<%- partner.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-count <%- partner.gdn[palletKind.id] > 0 ? 'is-negative' : '' %>">-<%- partner.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td></td>
        </tr>
        <% }) %>
        <% if (summary.partners.length > 1) { %>
        <tr class="partnerBalanceList-total">
          <td></td>
          <td><em><%- t('reports', 'PROPERTY:total') %></em></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-count <%- summary.totals.grn[palletKind.id] > 0 ? 'is-positive' : '' %>">+<%- summary.totals.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-count <%- summary.totals.gdn[palletKind.id] > 0 ? 'is-negative' : '' %>">-<%- summary.totals.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td></td>
        </tr>
        <% } %>
        <tr class="partnerBalanceList-balance">
          <td></td>
          <td><em><%- t('reports', 'PROPERTY:balance') %></em></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number <%- summary.balance[palletKind.id] > 0 ? 'is-positive' : summary.balance[palletKind.id] < 0 ? 'is-negative' : '' %>"><%- summary.balance[palletKind.id] || 0 %></td>
          <% }) %>
          <td></td>
        </tr>
      </tbody>
      <% } %>
    </table>
  </div>
</div>
