<form class="well filter-form">
  <% if (!user.data.partner) { %>
  <div class="form-group has-required-select2">
    <label for="<%- idPrefix %>-partner" class="control-label is-required"><%- t('reports', 'filter:partner') %></label>
    <input id="<%- idPrefix %>-partner" name="partner" type="text" required>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-from" class="control-label is-required" title="<%- t('core', 'filter:date:from:inclusive') %>"><i class="fa fa-info-circle"></i> <%- t('core', 'filter:date:from') %></label>
    <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to" class="control-label is-required" title="<%- t('core', 'filter:date:to:exclusive') %>"><i class="fa fa-info-circle"></i> <%- t('core', 'filter:date:to') %></label>
    <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" required>
  </div>
  <div class="form-group filter-datePicker no-label">
    <label>&nbsp;</label>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" title="<%- t('core', 'filter:datePicker') %>" data-toggle="dropdown">
        <i class="fa fa-calendar"></i><span class="visible-xs-inline"><%- t('core', 'filter:datePicker') %></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a data-range="today"><%= t('core', 'filter:datePicker:today') %></a></li>
        <li><a data-range="yesterday"><%= t('core', 'filter:datePicker:yesterday') %></a></li>
        <li class="divider"></li>
        <li><a data-range="currentWeek"><%= t('core', 'filter:datePicker:currentWeek') %></a></li>
        <li><a data-range="prevWeek"><%= t('core', 'filter:datePicker:prevWeek') %></a></li>
        <li class="divider"></li>
        <li><a data-range="currentMonth"><%= t('core', 'filter:datePicker:currentMonth') %></a></li>
        <li><a data-range="prevMonth"><%= t('core', 'filter:datePicker:prevMonth') %></a></li>
      </ul>
    </div>
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('reports', 'filter:submit') %></span></button>
    <hr>
  </div>
  <div class="form-group">
    <label><%- t('reports', 'filter:rows') %></label>
    <div id="<%- idPrefix %>-rows" class="btn-group filter-btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox" name="rows[]" value="partner"> <%- t('reports', 'filter:rows:partner') %>
      </label>
      <label class="btn btn-default">
        <input type="checkbox" name="rows[]" value="total"> <%- t('reports', 'filter:rows:total') %>
      </label>
      <label class="btn btn-default">
        <input type="checkbox" name="rows[]" value="balance"> <%- t('reports', 'filter:rows:balance') %>
      </label>
      <label class="btn btn-default">
        <input type="checkbox" name="rows[]" value="summary"> <%- t('reports', 'filter:rows:summary') %>
      </label>
    </div>
  </div>
</form>
