<div class="list partnerBalanceList">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <% if (!rows.length) { %>
      <tbody>
        <tr>
          <td><%- t('core', 'LIST:NO_DATA') %></td>
        </tr>
      </tbody>
      <% } %>
      <% rows.forEach(function(row) { %>
      <tbody>
        <tr>
          <th class="is-min"><%- time.format(row.date, 'YYYY-MM-DD') %></th>
          <th class="is-min"><%- t('reports', 'PROPERTY:partner') %></th>
          <%- palletKindColumns %>
          <th class="is-min"><%- t('reports', 'PROPERTY:total') %></th>
          <th class="is-min"><%- t('reports', 'PROPERTY:balance') %></th>
          <th></th>
        </tr>
        <% row.partners.forEach(function(partner) { %>
        <% var balance = partner.grn.total - partner.gdn.total; %>
        <tr class="partnerBalanceList-partner">
          <td></td>
          <td><%= partnersMap[partner.id] || partner.id %></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-grn">+<%- partner.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-gdn">-<%- partner.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td class="is-number partnerBalanceList-total">
            <span class="partnerBalanceList-grn">+<%- partner.grn.total %></span>
            <span class="partnerBalanceList-gdn">-<%- partner.gdn.total %></span>
          </td>
          <td class="is-number partnerBalanceList-balance <%- balance > 0 ? 'is-positive' : balance < 0 ? 'is-negative' : '' %>"><%- balance %></td>
          <td></td>
        </tr>
        <% }) %>
        <tr class="partnerBalanceList-total">
          <td></td>
          <td><%- t('reports', 'PROPERTY:total') %></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number">
            <span class="partnerBalanceList-grn">+<%- row.totals.grn[palletKind.id] || 0 %></span>
            <span class="partnerBalanceList-gdn">-<%- row.totals.gdn[palletKind.id] || 0 %></span>
          </td>
          <% }) %>
          <td class="is-number">
            <span class="partnerBalanceList-grn">+<%- row.totals.grn.total %></span>
            <span class="partnerBalanceList-gdn">-<%- row.totals.gdn.total %></span>
          </td>
          <td class="is-number partnerBalanceList-balance <%- row.totals.balance > 0 ? 'is-positive' : row.totals.balance < 0 ? 'is-negative' : '' %>"><%- row.totals.balance %></td>
          <td></td>
        </tr>
        <tr class="partnerBalanceList-balance">
          <td></td>
          <td><%- t('reports', 'PROPERTY:balance') %></td>
          <% palletKinds.forEach(function(palletKind) { %>
          <td class="is-number <%- row.balance[palletKind.id] > 0 ? 'is-positive' : row.balance[palletKind.id] < 0 ? 'is-negative' : '' %>"><%- row.balance[palletKind.id] || 0 %></td>
          <% }) %>
          <td class="is-number <%- row.balance.total > 0 ? 'is-positive' : row.balance.total < 0 ? 'is-negative' : '' %>"><%- row.balance.total %></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </div>
</div>
